<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.rxbasicsteps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Operators.BufferOperatorActivity" />
        <activity android:name=".Operators.DebounceOperatorActivity" />
        <activity android:name=".Operators.FilterOperatorActivity" />
        <activity android:name=".Operators.RepeatOperatorActivity" />
        <activity android:name=".Operators.FromOperatorActivity" />
        <activity android:name=".Operators.JustOperatorActivity" />
        <activity android:name=".Operators.RangeOperatorActivity" />
        <activity android:name=".Operators.SkipOperatorActivity" />
        <activity android:name=".Operators.SkipLastOperatorActivity" />
        <activity android:name=".Operators.TakeOperatorActivity" />
        <activity android:name=".Operators.TakeLastActivity" />
        <activity android:name=".Operators.DistinctOperatorActivity" />
        <activity android:name=".Operators.MaxOperatorActivity" />
        <activity android:name=".Operators.MinOperatorActivity" />
        <activity android:name=".Operators.SumOperatorActivity" />
        <activity android:name=".Operators.AverageOperatorActivity" />
        <activity android:name=".Operators.CountOperatorActivity" />
        <activity android:name=".Operators.ReduceOperatorActivity" />
        <activity android:name=".Operators.MergeOperatorActivity" />
        <activity android:name=".Operators.ConcatOperatorActivity" />
        <activity android:name=".Operators.MapOperatorActivity" />
        <activity android:name=".Operators.FlatMapOperatorActivity"></activity>
        <activity android:name=".Operators.ConcatMapOperatorActivity">
        </activity>
        <activity android:name=".Operators.SwitchMapOperatorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>